@media screen and (min-width: 800px) {
  h1 {
    font-size: 52px;
  }

/*.card:hover {
  border-color: white;
  background: rgb(204,169,255);
  background: radial-gradient(circle, rgba(204,169,255,1) 10%, rgba(123,207,240,1) 100%);*/
}

}
