body {
  background: #32064e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 98%;
}

h1 {
  color: #c5abff;
  text-align: center;
  font-family: 'Oooh Baby', cursive;
  font-size: 30px;
}

h2 {
  font-family: 'Oooh Baby', cursive;
}

a {
  color: #32064e;
}

a:visited {
  color: #d3d3d3;
}

footer {
  color: #c5abff;
  align-text: center;
  width: 90%;
}

footer>a {
color: #c5abff;
}

hr {
border: 1px solid #c5abff;
}

.card {
  width: 300px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  text-align: center;
  border: 2px solid;
	border-radius: 8px;
  background: rgb(204,169,255);

background: radial-gradient(circle, rgba(204,169,255,1) 10%, rgba(120,88,139,1) 100%););
 }

.card: active {
  border-color: white;
  background: rgb(204,169,255);
  background: radial-gradient(circle, rgba(204,169,255,1) 10%, rgba(123,207,240,1) 100%);
}

.descr {
  font-size: 110%;
  font-style: italic;
}


#moreD1,
#moreD2,
#moreD3,
#moreD4,
#moreD5,
#moreD6,
#moreD7,
#moreD8,
#moreD9,
#moreD10,
#moreD11,
#moreD12,
#moreD13,
#moreD14,
#moreD15,
#moreD16,
#moreD17,
#moreD18,
#moreD19,
#moreD20
 {
  display: none;
  padding: 5px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

